.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    font-size: 25px;
}
.input1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 580px;
    height: 80px;
    background: wheat;
    border-radius: 8px;
    font-size: 25px;
    padding-left: 20px;
    font-weight: 200px;
}
.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color:blue;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 45%;

}